



/* video iza */
.backgroundvideo {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: rgb(172, 2, 2);
    
} 

.navbar a:hover{
    color: aqua;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
/* home costom */
.home {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home-text p{
    font-size: 40px;
    color: white;
}

.home-text h2{
    font-size: 60px;
    line-height: 100px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(icon-item/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.social-media {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;
    transform: 1s;
}


.linkbox:hover {
    transform: scale(1.3);
    z-index: 2;
}



/* home code end */


/* about code */


.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about-text {
    color: rgb(255, 255, 255); 
    margin-bottom: 20px;
}

.about-text p{
    color: rgb(255, 255, 255);
    font-size: 30px; 
}

.about-text h2{
    color: rgb(255, 255, 255);
    font-size: 60px; 
}

.skils-text {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}

.skils {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    transform: 1s;
}

.skils:hover {
    transform: scale(1.3);
    z-index: 2;
}

/* icon skils */

.icon-skils {
    display: flex;
    gap: 20px;
    
}



/* buton i za submit u contact */
.btn {
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #54ebf0 5%, #994052 100%);
	background-color:#54ebf0;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}



.btn:active {
    position:relative;
	top:2px;
}
.btn:hover {
    background:linear-gradient(to bottom, #994052 5%, #54ebf0 100%);
	background-color:#994052;
}



/* kraj kod a buton */


/* My work section */


.mywork-container {
    display: grid;
    justify-content: center;
    gap: 30px;
    padding-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100px;
    height: 100px; */
}

.mywork-box {
    background-color: whitesmoke;
    padding: 1.25rem;
    border-radius: 20px;
}

.work-img {
    width: 100%;
    height: 70%;
}


/* da sakrijem opis projekta */
.portfolio-item-details {
    display: none;
}

.work-img {
    border-radius: 20px;
    margin-bottom: 30px;
}

.work-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.work-button {
    display: flex;
    color: white;
    font-size: 20px;
    align-items: center;
}

.work-button-icon {
    font-size: 1rem;
    transition: .3s;
}

.work-button-icon:hover .work-button-icon {
    transform: translateY( 25rem);
}

/* Porfolio popup */

.portfolio-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    transition: .3s;
    opacity: 0;
    visibility: hidden;

}

.portfolio-popup.open {
    opacity: 1;
    visibility: visible;
}

.portfolio-popup-inner {
    background-color: rgb(89, 175, 32);
    width: 900px;
    border-radius: 20px;
    padding: 2.5rem;
    position: relative;
}

.portfolio-popup-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 20px;
}

.portfolio-popup-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
}

.profile-popup-img {
    border-radius: 20px;
}

.portfolio-popup-subtitle {
    font-size: 30px;
    margin-bottom: 20px;
}

.details-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.details-description {
    margin-bottom: 20px;
}

.detail-info li{
    list-style-type: none;
    margin-bottom: 20px;
}


/* contact form */

.contact {
/*     margin-bottom: 3rem;
 */    text-align: center;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
/*     margin-bottom: 3rem;
 */}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1rem;
    border-radius: 1rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form .btn {
    margin-top: 1rem;
    
}

/* .btn-submit {
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #54ebf0 5%, #994052 100%);
	background-color:#54ebf0;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
} */

/* .btn-submit:hover {
    background:linear-gradient(to bottom, #994052 5%, #54ebf0 100%);
	background-color:#994052;
}

.btn-submit:active {
    position:relative;
	top:2px;
}
 */
/* contact finish */

/* foter */

.foter {
    display: flex;
    height: 20vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    background:linear-gradient(to bottom, #54ebf0 5%, #994052 100%);
    gap: 70px;
}

.security{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* ham menu */

.ham {
    display: none; 
    padding:5px;  
    cursor:pointer;
}

.bar1,.bar2,.bar3{  
    display:block;  
    width:35px;  
    height:3px;  
    margin:5px auto;  
    background-color:#101010;  
    transition: 0.4s;  
   }

   @media only screen and (max-width:1200px) {

    .header {
        display: flex;
        justify-content: space-between;
    }


    /* mora imati i stari kod od linka */
    .navbar{  
        display: none;
        position:absolute;   
        top:10vh;  
        right:8px;  
        flex-direction:column;  
        background-color:rgba(187, 13, 13, 0.185);  
        border-radius:0px 0px 0px 20px;  
        transition: 3s ease;  
        transform:translate(100%);    
        width: 300px;
       }

       .nav-change { 
        display: flex; 
        position:absolute;   
        top:10vh;  
        right:40px;  
        flex-direction:column;  
        background-color:rgba(75, 10, 255, 0.357);  
        border-radius:0px 0px 0px 20px;
        transition:transform 1s ease-in;
        transform:translate(0%);  
        width: 90%;
       }  

       .ham{  
        display:block;  
       }

       .change .bar1 {  
        transform: rotate(45deg) translate(8px,3px);  
       }  
       .change .bar2 {  
        opacity: 0;  
       }  
       .change .bar3 {  
        transform: rotate(-45deg) translate(8px,-3px);  
       }
   }

   /* ham menu */