



/* video iza */
.backgroundvideo {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: rgb(172, 2, 2);
    
} 

.navbar a:hover{
    color: aqua;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
/* home costom */
.home {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home-text p{
    font-size: 40px;
    color: white;
}

.home-text h2{
    font-size: 60px;
    line-height: 100px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(icon-item/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.social-media {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;
    transform: 1s;
}


.linkbox:hover {
    transform: scale(1.3);
    z-index: 2;
}



/* home code end */


/* about code */


.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about-text {
    color: rgb(255, 255, 255); 
    margin-bottom: 20px;
}

.about-text p{
    color: rgb(255, 255, 255);
    font-size: 30px; 
}

.about-text h2{
    color: rgb(255, 255, 255);
    font-size: 60px; 
}

.skils-text {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}

.skils {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    transform: 1s;
}

.skils:hover {
    transform: scale(1.3);
    z-index: 2;
}

/* icon skils */

.icon-skils {
    display: flex;
    gap: 20px;
    
}



/* buton i za submit u contact */
.btn {
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #54ebf0 5%, #994052 100%);
	background-color:#54ebf0;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}



.btn:active {
    position:relative;
	top:2px;
}
.btn:hover {
    background:linear-gradient(to bottom, #994052 5%, #54ebf0 100%);
	background-color:#994052;
}



/* kraj kod a buton */




/* work card  */

.work-card {
    background-color: yellowgreen;
    padding: 2rem;
    border-radius: 20px;
    height: 300px;
}

.work-img {
    display: flex;
    border-radius: 20px;
    width: 90%;
    height: 70%;
    margin-bottom: 20px;
}

.produkt-title {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.produkt-btn {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.arrow {
    font-size: 20px;
    transition: .3s;
}

.arrow:hover {
    transform: translateX(.25rem);
}




/* popup style */


.header-mywork {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 3rem;
}

.container-work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10%;
}

.popup-view {
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.508);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: 1;
    transition: .3s;
    visibility: hidden;
}

 .active{
    opacity: 1;
    visibility: visible;
}

.popup-inner {
    background-color: rgb(98, 110, 40);
    width: 900px;
    border-radius: 20px;
    padding: 2.5rem;
    position: relative;
}

.popup-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 3rem;
}

.close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.popup-img {
    border-radius: 20px;
}

.popup-innertitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.popup-innertext {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.popup-btn-demo {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}



/* popup kraj */




/* contact form */


.conctact-hd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
}


.container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-contact form {
    width: 90%;
    max-width: 500px;
    position: relative;
}

.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.input-group label{
    flex-basis: 28%;
    color: #fff;
    font-size: 20px;
}


.input-group input, .input-group textarea{
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
}

::placeholder{
    font-size: 14px;
    color: #fff;
}

form button{
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #54ebf0 5%, #994052 100%);
	background-color:#54ebf0;
	border-radius:15px;
    color:#ffffff;
    font-size:20px;
    padding:15px 30px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
    text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

button:active {
    position:relative;
	top:2px;
}
button:hover {
    background:linear-gradient(to bottom, #994052 5%, #54ebf0 100%);
	background-color:#994052;
}

.input-group span {
    position: absolute;
    bottom: 12px;
    right: 25px;
    font-size: 14px;
    color: red;
}

#submit-error {
    color: red;
}





/* footer kod */

.foter {
    display: flex;
    height: 20vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    background:linear-gradient(to bottom, #54ebf0 5%, #994052 100%);
    gap: 70px;
}

.security{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* ham menu */

.ham {
    display: none; 
    padding:5px;  
    cursor:pointer;
}

.bar1,.bar2,.bar3{  
    display:block;  
    width:35px;  
    height:3px;  
    margin:5px auto;  
    background-color:#101010;  
    transition: 0.4s;  
   }

   @media only screen and (max-width:1200px) {

    .header {
        display: flex;
        justify-content: space-between;
    }


    /* mora imati i stari kod od linka */
    .navbar{  
        display: none;
        position:absolute;   
        top:10vh;  
        right:8px;  
        flex-direction:column;  
        background-color:rgba(187, 13, 13, 0.185);  
        border-radius:0px 0px 0px 20px;  
        transition: 3s ease;  
        transform:translate(100%);    
        width: 300px;
       }

       .nav-change { 
        display: flex; 
        position:absolute;   
        top:10vh;  
        right:40px;  
        flex-direction:column;  
        background-color:rgba(75, 10, 255, 0.357);  
        border-radius:0px 0px 0px 20px;
        transition:transform 1s ease-in;
        transform:translate(0%);  
        width: 90%;
       }  

       .ham{  
        display:block;  
       }

       .change .bar1 {  
        transform: rotate(45deg) translate(8px,3px);  
       }  
       .change .bar2 {  
        opacity: 0;  
       }  
       .change .bar3 {  
        transform: rotate(-45deg) translate(8px,-3px);  
       }
   }

   /* ham menu */


   /*  */

/* 

   .input-elm {
    display: flex;
    width: -webkit-fill-available;
    position: relative;
}

p.alert-msg {
    position: absolute;
    width: -webkit-fill-available;
    color: white;
    font-size: 20px;
    font-family: arial;
    width: calc(100% - 200px);
    margin-top: 105px;
    pointer-events: none;
}


.input-box.input-box-inline {
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin-top: 25px;
}

.input-box.input-box-inline .input-elm {
    width: -webkit-fill-available !important;
}

.input-box.input-box-inline input {
    width:90% !important;
    margin: 0.7rem auto !important;
}


.input-box.input-box-inline p.alert-msg {
    width: 100%;
    text-align: right;
    padding-right: 30px;
}


i.error-i-tag {
    position: absolute;
    width: 46%;
    text-align: right;
    margin-top: 53px;
}


.input-box.input-box-inline i.error-i-tag {}

.textarea-field {
    margin-top: 25px;
}

.input-box.input-box-inline i.error-i-tag {
    left: unset;
    right: 0px;
    padding-right: 55px;
}


.textarea-field {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 29px;
}

.textarea-field i.error-i-tag {
    margin-top: 40px;
    width: 65%;
}

 */

   /*  */